{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Alocar Disciplina</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="ano_semestre_id" value="{{ ano_semestre_id }}">
        
        <div class="form-group">
            <label for="disciplina">Disciplina:</label>
            <select id="disciplina" name="disciplina" class="form-control" required>
                <option value="" disabled selected>Selecione a Disciplina</option>
                {% for disciplina in disciplinas %}
                    <option value="{{ disciplina.id }}">
                        {{ disciplina.nome }}
                        {% for professor in disciplina.disciplina_professores.all %}
                            {% if forloop.first %} - Professor(es): {% endif %}
                            {{ professor.professor.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Alocar</button>
    </form>
</div>
{% endblock %}
