{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="ano">Ano:</label>
        <input type="text" name="ano" id="ano" required>

        <label for="semestre">Semestre:</label>
        <select name="semestre" id="semestre" required>
            <option value="" disabled selected>Selecione um semestre</option>
            {% for semestre in semestres %}
                <option value="{{ semestre.id }}">{{ semestre.get_nome_display }}</option>
            {% endfor %}
        </select>

        <label for="paridade">Escolha o tipo de período:</label>
        <select name="paridade" id="paridade" required>
            <option value="par">Pares</option>
            <option value="impar">Ímpares</option>
        </select>

        <button type="submit">Gerar Horários</button>
    </form>

    {% if periodo_opcoes %}
        <h3>Períodos disponíveis:</h3>
        <ul>
            {% for periodo in periodo_opcoes %}
                <li>{{ periodo }}</li>  <!-- Aqui o período é um número -->
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
