{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="GET" action="">
        <div class="row">
            <div class="col-md-6">
                <label for="ano">Ano:</label>
                <input type="number" id="ano" name="ano" class="form-control" 
                       placeholder="Informe o Ano" value="{{ request.GET.ano }}">
            </div>
            <div class="col-md-6">
                <label for="semestre">Semestre:</label>
                <select id="semestre" name="semestre" class="form-control">
                    <option value="" disabled selected>Informe o Semestre</option>
                    {% for semestre in semestres %}
                        <option value="{{ semestre.id }}" {% if semestre.id == request.GET.semestre %}selected{% endif %}>
                            {{ semestre.get_nome_display }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    {% if horarios %}
        {% with horario=horarios.0 %}
            <h2>Quadro de Horários do {{ horario.ano_semestre.semestre }} do Ano {{ horario.ano_semestre.ano }}</h2>
        {% endwith %}
    {% else %}
        <h2>Quadro de Horários</h2>
        <p>Nenhum horário encontrado para o último semestre.</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Período</th>
                <th>Horário(s)</th>
                {% for dia in dias_semana %}
                    <th>{{ dia.nome }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if horarios %}
            {% regroup horarios|dictsort:"periodo" by periodo as periodos_grouped %}
            {% for periodo in periodos_grouped %}
                {% for horario in periodo.list %}
                <tr>
                    {% if forloop.first %}
                    <td rowspan="{{ periodo.list|length }}">{{ periodo.grouper }}</td>
                    {% endif %}
                    <td>{{ horario.horario_curso.hora_inicio }} - {{ horario.horario_curso.hora_fim }}</td>

                    {% for dia in dias_semana %}
                        <td>
                            <br>
                            {% if dia in horario.horario_curso.dias_semana.all %}
                                {% if horario.alocacoes_list %}
                                    {% for alocacao in horario.alocacoes_list %}
                                        {{ alocacao.disciplina_professor.disciplina.nome }}<br>
                                        {{ alocacao.disciplina_professor.professor.nome }}<br>
                                    {% endfor %}
                                {% else %}
                                    Sem disciplinas
                                {% endif %}

                                <a href="{% url 'alocar_disciplina' horario.horario_curso.id dia.id %}" class="btn btn-secondary btn-sm">Alocar Disciplina</a>




                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ colspan_value }}">Nenhum horário encontrado.</td>
            </tr>
        {% endif %}
    </tbody>
    </table>

    <!-- Botão para gerar novo horário -->
    <a href="{% url 'gerar_horarios' %}" class="btn btn-primary">Gerar Horários</a>
</div>
{% endblock %}
