<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários em PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    {% if horarios %}
        {% with horario=horarios.0 %}
            <h2>Quadro de Horários do {{ horario.ano_semestre.semestre }} do Ano {{ horario.ano_semestre.ano }}</h2>
        {% endwith %}
    {% else %}
        <h2>Quadro de Horários</h2>
        <p>Nenhum horário encontrado para o último semestre.</p>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Período</th>
                <th>Horário(s)</th>
                {% for dia in dias_semana %}
                    <th>{{ dia.nome }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if horarios %}
            {% regroup horarios|dictsort:"periodo" by periodo as periodos_grouped %}
            {% for periodo in periodos_grouped %}
                <tr>
                    <td rowspan="{{ periodo.list|length }}">{{ periodo.grouper }}</td>
                    
                    {% for horario in periodo.list %}
                    <td>{{ horario.horario_curso.hora_inicio }} - {{ horario.horario_curso.hora_fim }}</td>

                    {% for dia in dias_semana %}
                        <td>
                            {% if dia in horario.horario_curso.dias_semana.all %}
                                {% if horario.alocacoes_list %}
                                    {% for alocacao in horario.alocacoes_list %}
                                        {% if alocacao.dia_semana == dia and alocacao.periodo == horario.periodo %}
                                            <strong>{{ alocacao.disciplina_professor.disciplina.nome }}</strong><br>
                                            <em>{{ alocacao.disciplina_professor.professor.nome }}</em><br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>Sem disciplinas</p>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ colspan_value }}">Nenhum horário encontrado.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</body>
</html>
