{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Quadro de Horários do Curso de {{ curso.nome }}</h2>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Voltar</button>
</div>


<div class="mt-5 mb-5">
    <!-- Formulário de seleção de ano e semestre -->
    <form method="GET" action="" class="mb-4">
        <div class="row align-items-end">
            <div class="col-md-4">
                <label for="ano">Ano:</label>
                <input type="number" id="ano" name="ano" class="form-control" placeholder="Informe o Ano" value="{{ request.GET.ano }}">
            </div>
            <div class="col-md-3">
                <label for="semestre">Semestre:</label>
                <select id="semestre" name="semestre" class="form-control">
                    <option value="" disabled selected>Informe o Semestre</option>
                    {% for semestre in semestres %}
                        <option value="{{ semestre.id }}" {% if semestre.id == request.GET.semestre %}selected{% endif %}>
                            {{ semestre.get_nome_display }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 d-flex mt-2">
                <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-search"></i> Pesquisar</button>
                <a href="{% url 'gerar_horarios' %}" class="btn btn-primary mr-2"><i class="fas fa-plus"></i> Gerar Horários</a>
                <a href="{% url 'gerar_pdf' %}?ano={{ request.GET.ano }}&semestre={{ request.GET.semestre }}" class="btn btn-primary mr-2" title="Baixar Quadro de Horários em PDF"><i class="fas fa-download"></i></a>
                {% if horarios %}
                    {% with horario=horarios.0 %}
                        <a href="{% url 'excluir_quadro_horarios' horario.ano_semestre.id %}" class="btn btn-danger" 
                           onclick="return confirm('Tem certeza que deseja excluir este quadro de horários? Esta ação é irreversível.')"
                           title="Excluir Quadro de Horários">
                            <i class="fa fa-trash"></i>
                        </a>
                    {% endwith %}
                {% endif %}


            </div>
        </div>
    </form>

    {% if horarios %}
        {% with horario=horarios.0 %}
            <h2 class="text-center mt-4">Quadro de Horários do {{ horario.ano_semestre.semestre }} do Ano {{ horario.ano_semestre.ano }}</h2>
        {% endwith %}
    {% else %}
        <h2 class="text-center mt-4">Quadro de Horários</h2>
        <p class="text-center">Nenhum horário encontrado para o último semestre.</p>
    {% endif %}

    <!-- Tabela de Horários -->
    <div class="table-responsive">
        <table class="table table-bordered w-100 custom-table">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Horário(s)</th>
                    {% for dia in dias_semana %}
                        <th>{{ dia.nome }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% if horarios %}
                {% regroup horarios|dictsort:"periodo" by periodo as periodos_grouped %}
                {% for periodo in periodos_grouped %}
                    {% for horario in periodo.list %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ periodo.list|length }}" class="align-middle">{{ periodo.grouper }}</td>
                        {% endif %}
                        <td>{{ horario.horario_curso.hora_inicio }} - {{ horario.horario_curso.hora_fim }}</td>
                        {% for dia in dias_semana %}
                            <td class="align-middle">
                                {% if dia in horario.horario_curso.dias_semana.all %}
                                    <div class="cell-content">
                                        {% for alocacao in horario.alocacoes_list %}
                                            {% if alocacao.dia_semana == dia and alocacao.periodo == periodo.grouper and alocacao.disciplina %}
                                                <div class="d-flex align-items-center disciplina">
                                                    <strong class="mr-2">{{ alocacao.disciplina.nome }}</strong>
                                                    <a href="#" onclick="removerAlocacao({{ alocacao.id }})" title="Remover Alocação">
                                                        <i class="fa fa-trash text-red"></i>
                                                    </a>
                                                    <form id="remover-form-{{ alocacao.id }}" action="{% url 'remover_alocacao' alocacao.id %}" method="POST" style="display: none;">
                                                        {% csrf_token %}
                                                    </form>
                                                </div>
                                                {% if alocacao.disciplina.disciplina_professores.all %}
                                                    <small class="text-muted">
                                                        Professor(es): 
                                                        {% for prof in alocacao.disciplina.disciplina_professores.all %}
                                                            {{ prof.professor.nome }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </small>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Botão "Adicionar Disciplina" -->
                                        <div class="alocacao-actions">
                                            <a href="{% url 'alocar_disciplina' horario.horario_curso.id dia.id periodo.grouper %}" class="btn btn-secondary btn-sm add-disciplina-btn">
                                                Adicionar Disciplina
                                            </a>
                                        </div>
                                        <!-- Preferências do professor -->
                                        {% for preferencia in preferencias_professores %}
                                            {% if dia in preferencia.dias_preferidos.all and horario.horario_curso in preferencia.horas_preferidas.all %}
                                                <span class="badge {% if preferencia.professor.centro != curso.centro %}badge-success{% else %}badge-danger{% endif %}" title="Preferência de {{ preferencia.professor.nome }}">
                                                    <i class="fa fa-exclamation-circle"></i>
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <span class="text-muted">Sem Aula</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{ dias_semana|length|add:"2" }}" class="text-center">Nenhum horário encontrado.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .custom-table thead {
        background-color: #b0c4de;
        color: #ffffff;
    }
    
    .text-red {
        color: #ff0000;
    }
    
    .badge-info i.fa-exclamation-circle {
        color: white; 
    }
    
    .badge-info {
        background-color: red; 
        color: red; 
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleciona todas as células da tabela que têm conteúdo de disciplina
        const cells = document.querySelectorAll('.cell-content');

        cells.forEach(cell => {
            // Verifica se há uma disciplina alocada (elemento com a classe 'disciplina')
            const disciplinaAlocada = cell.querySelector('.disciplina');
            const addButton = cell.querySelector('.add-disciplina-btn');

            // Se houver uma disciplina alocada, remove apenas o botão de adicionar
            if (disciplinaAlocada && addButton) {
                addButton.remove();
            }
        });
    });

    function removerAlocacao(id) {
        event.preventDefault();
        if (confirm("Tem certeza de que deseja remover esta alocação?")) {
            document.getElementById(`remover-form-${id}`).submit();
        }
    }
</script>
{% endblock %}
