
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="csrf-token" content="{% csrf_token %}"> -->
    
    <title>{% block title %}Meu Projeto{% endblock %}</title>

    <!-- Bootstrap CSS via CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Importando 0o css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Inclua o CSS do SweetAlert2 no <head> do seu template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">




</head>
<body>

    {% include 'components/navbar.html' %}    

    <!-- Bloco de mensagens -->
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show message-auto-hide" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% block content %}
    <!-- O conteúdo das outras páginas será inserido aqui -->

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        console.log("jQuery versão:", $.fn.jquery); // Deve mostrar a versão do jQuery
    </script>
    <!-- Bootstrap JS via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 


    {% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        var baseEditarProfessorUrl = "{% url 'editar_professor' professor_id=0 %}"; // URL base com ID fictício
        var baseExcluirProfessorUrl = "{% url 'excluir_professor' 0 %}";
        var adicionarDisciplinaUrl = "{% url 'adicionar_disciplina_professor' %}"; 
        var baseEditarDisciplinaUrl = "{% url 'editar_disciplina' disciplina_id=0 %}"; // URL base com ID fictício
        var baseExcluirDisciplinaUrl = "{% url 'excluir_disciplina' 0 %}";
    </script>
{% endblock %}

    {% include 'components/footer.html' %}

</body>
</html>