
{% extends 'base.html' %}
{% load static %}
{% block title %}Listagem de Professores{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Professores do curso de {{ curso.nome }}</h2>

    <!-- Botão para abrir o modal de cadastro -->
    <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#cadastroModal">Cadastrar Professor</button>

    <!-- Tabela de professores -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Centro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professores %}
            <tr>
                <td>{{ professor.nome }}</td>
                <td>{{ professor.centro.nome }}</td>
                <td>
                    <!-- Botão para abrir o modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editarProfessorModal"
                    data-id="{{ professor.id }}" data-nome="{{ professor.nome }}" data-centro="{{ professor.centro_id }}">
                    Editar
                    </button>

                    <!-- Botão Excluir e Modal -->
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluirModal{{ professor.id }}">
                    Excluir
                    </button>

                    <!-- Adicione este botão na tabela de ações -->
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#adicionarDisciplinaModal" data-id="{{ professor.id }}">Adicionar Disciplina</button>
                    
                    
                    <!-- Modal de Exclusão -->
                    <div class="modal fade" id="excluirModal{{ professor.id }}" tabindex="-1" aria-labelledby="excluirModalLabel{{ professor.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="excluirModalLabel{{ professor.id }}">Confirmar Exclusão</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Você tem certeza de que deseja excluir {{ professor.nome }}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" onclick="excluirProfessor({{ professor.id }})">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- Modal de Edição -->
                <div class="modal fade" id="editarProfessorModal" tabindex="-1" role="dialog" aria-labelledby="editarProfessorModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarProfessorModalLabel">Editar Professor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="form-editar-professor" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_nome">Nome:</label>
                                        <input type="text" class="form-control" id="id_nome" name="nome" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_centro">Centro:</label>
                                        <select class="form-control" id="id_centro" name="centro" required>
                                            {% for centro in centros %}
                                                <option value="{{ centro.id }}">{{ centro.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" id="id_professor" name="professor_id">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum professor cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal de Cadastro -->
    <div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastroModalLabel">Cadastrar Professor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'listar_professores' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_nome">Nome</label>
                            <input type="text" class="form-control" id="id_nome" name="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="id_centro">Centro</label>
                            <select class="form-control" id="id_centro" name="centro" required>
                                <option value="">Selecione um centro</option>
                                    {% for centro in centros %}
                                <option value="{{ centro.id }}">{{ centro.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Adição de Disciplina -->
<div class="modal fade" id="adicionarDisciplinaModal" tabindex="-1" role="dialog" aria-labelledby="adicionarDisciplinaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adicionarDisciplinaModalLabel">Adicionar Disciplina ao Professor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'adicionar_disciplina_professor' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_disciplina">Disciplina:</label>
                        <select class="form-control" id="id_disciplina" name="disciplina" required>
                            <option value="" disabled selected>Selecione a disciplina</option>
                            {% for disciplina in disciplinas %}
                                <option value="{{ disciplina.id }}">{{ disciplina.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" id="id_professor" name="professor_id">
                    <button type="submit" class="btn btn-warning">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        var baseEditarProfessorUrl = "{% url 'editar_professor' professor_id=0 %}"; // URL base com ID fictício
        var baseExcluirProfessorUrl = "{% url 'excluir_professor' 0 %}";
        var adicionarDisciplinaUrl = "{% url 'adicionar_disciplina_professor' %}";    </script>
{% endblock %}