{% load static %}

<div class="header d-flex justify-content-between align-items-center">
    <div class="logo">
        <img src="{% static 'image/logo.png' %}" alt="logo-ufac" width="75" height="75" >

    </div>
    <nav class="text-dark">
        <a href="/index" class="{% if request.path == '/index/' %}active{% endif %}">Início</a>
        <a href="/professores/" class="{% if request.path == '/professores/' %}active{% endif %}">Professores</a>
        <a href="/disciplinas/" class="{% if request.path == '/disciplinas/' %}active{% endif %}">Disciplinas</a>
        <a href="/horarios/" class="{% if request.path == '/horarios/' %}active{% endif %}">Horários</a>
        <a href="/logout/"><svg width="30" height="30" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect width="90" height="90" fill="url(#pattern0_542_890)"/>
            <defs>
            <pattern id="pattern0_542_890" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_542_890" transform="scale(0.0111111)"/>
            </pattern>
            <image id="image0_542_890" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB20lEQVR4nO3cQU4UURRG4RMhtq5Bp7oB464UVuJAY6IjnejAjYiM1MA6IASc+kwllQikOzSdW38/qPMldwx1uFVFmvBAkiRJkiRpvh4B+8AhcAG0mc0F8APYAxZTRX4K/O7gYlsn82tsUr7JRmZp7NLN3u9gg1qn87oy9GEHF9Q6nYPK0OcdXFDrdIY2ZVZ9kd60Lc3kF9CbZugMQ4cYOsTQIYYOMXSIoUMMHWLoEEOHGDrE0CGGDjF0iKFDDB1i6Et2gTfACXAEvKSOoS9F/nYtyDF1DM3yyMP8NfTNm7KuHeBr4G+Ps97onRsiG7og9DqRG3VmudGrnsltwzkF3gOPDX3V54m256Oh/3s+4W36B3hwyzvv3j46nhl6M5v8JD9NFPvDBt/nvd3oKV6GJ8A7X4arf737EtyIWW70bWJXmXXodWJXmX3ogR8qraFqE3eXvCCHz6SruNHXYr8d/zlyiPyCOoYOMXSIoUMMHWLoEEOHGDrE0CGGDjF0iKFDDB1i6BBDhxg6xNAhhg4xdMidD+1xbKyMfFYZ2gMGyRwwuLfF27J1Pq8qQy/GA0+3fVGts/kJPKTYcISvsbkS+QkTWYynyx7M9AV5DnwfHxflmyxJkiRJksQd8Q+nsZgLzzc3tgAAAABJRU5ErkJggg=="/>
            </defs>
            </svg>
        </a>
    </nav>
    
</div>